body {
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 25px;
  font-weight: bolder;
}

.nav-menu-center {
  text-align: center;
}

.card-image {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

figure > img {
  border-radius: 5%;
}