<% include ../partials/header %>

<section class="hero is-primary is-bold is-fullheight">
    <% include ../partials/navbar %>
    <!-- Hero body -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <h1 class="title is-size-1">
                    Hi! I am Auth App
                </h1>
                <h2 class="subtitle">
                    A simple local authentication application and... and... and... thats it!
                </h2>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>