<% include ../partials/header %>
<div class="column is-half is-offset-3">
<article class="message is-large">
  <div class="message-header">
    <p>Hello <%= world %></p>
  </div>
  <div class="message-body">
    This is a simple boiler-plate that allows anyone to easily get going with
    building a simple <strong>express</strong> application without having to do much setup. This
    app comes with <strong>ejs</strong> as the main template engine,
    <strong>body-parser</strong> for data association between template and app,
    and <strong>bulma</strong> as the main css framework. Of course if you don't
    like the choices then feel free to make any changes as needed to make your
    experience better. Happy Hacking!
  </div>
</article>
</div>
<% include ../partials/footer %>