<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item logo" href="../">
          Auth App
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <span class="navbar-item">
            <a class="button is-white is-outlined" href="/signin">
              <span class="icon">
                <i class="fa fa-pen"></i>
              </span>
              <span>Sign Up</span>
            </a>
          </span>
          <span class="navbar-item">
            <a class="button is-white is-outlined" href="/login">
              <span class="icon">
                <i class="fa fa-suitcase"></i>
              </span>
              <span>Log in</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</div>