<% include ../partials/header %>

<section class="hero is-primary is-bold is-fullheight">
  <% include ../partials/navbar %>
  <h1>This is the profile page</h1>

</section>

<% include ../partials/footer %>