<% include ../partials/header %>

<section class="hero is-primary is-bold is-fullheight">
  <% include ../partials/navbar %>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Sign Up</h3>
        <p class="subtitle has-text-grey">Sign Up to get a user profile.</p>
        <div class="box">
          <form action="/signup" method="POST">
            <div class="field">
              <label style="display:flex;">username:</label>
              <div class="control">
                <input class="input is-large is-primary" type="text" placeholder="Your Name" autofocus="" name="username"
                  required>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <label style="display:flex;">Password:</label>
                <input class="input is-large is-primary" type="password" name="password" placeholder="Your Password"
                  required>
              </div>
            </div>
            <button class="button is-block is-info is-large
                      is-fullwidth">Sign Up</button>
          </form>
        </div>
        <p class="has-text-grey">
          <a href="/signup">Sign Up</a> &nbsp;·&nbsp;
          <a href="/">Home</a> &nbsp;·&nbsp;
          <a href="/login">Log In</a>
        </p>
      </div>
    </div>
  </div>
</section>

<% include ../partials/footer %>